<div class="container">
  <div class="test">
<div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">HAHAHAHAHA</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <img src="assets/manly-hot.gif" class="card-img-top" alt="...">
</div>
<hr>

<div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">HEHEHEHEHEHEHEHE</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <img src="assets/manly-hot.gif" class="card-img-top" alt="...">
</div>
<hr>
<div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">HIHIHIHIHIHI</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <img src="assets/manly-hot.gif" class="card-img-top" alt="...">
</div>

</div>
</div>
